.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select{
    display:block;
    width: 95%;
    padding: 20px 20px;
    height: 300px;
}


:where(.css-dev-only-do-not-override-xu9wm8).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-container, :where(.css-dev-only-do-not-override-xu9wm8).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-container, :where(.css-dev-only-do-not-override-xu9wm8).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item-container, :where(.css-dev-only-do-not-override-xu9wm8).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item-container{
    display:block;
    width: 95%;
    padding: 20px 20px;
    height: 300px;
}